name: Sync Secrets

on:
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      repositories:
        description: "Regex expressions to select target repositories."
        required: true
        type: string
      dry_run:
        description: "Dry-run"
        required: true
        type: boolean
        default: true

env:
  SECRETS_DELETE: |
    ^LINTER_VALIDATE_ALL_CODEBASE$
  SECRETS_SYNC: |
    ^SYNC_PAT$
  REPO_LIST_REGEX: true
  SYNC_PAT: ${{ secrets.SYNC_PAT }}
  LINTER_VALIDATE_ALL_CODEBASE: '---'

jobs:
  sync:
    name: Sync Secrets
    runs-on: ubuntu-latest
    steps:
      - name: Delete Secrets
        uses: actions/github-script@v6
        if: ${{ github.event_name == 'pull_request' }}
        with:
          github-token: ${{ secrets.SYNC_PAT }}
          script: |
            github
              .paginate(
                github.rest.repos.listForAuthenticatedUser, 
                (response) => response.data
                  .filter((repo) => repo.full_name.search(new RegExp('^${{ github.repository }}$')) >= 0)
                  .map((repo) => repo.full_name)
            )
            .then((repoFullnames) => {
              console.log(repoFullnames);
            })
      - name: Sync Secrets
        uses: google/secrets-sync-action@v1.7.0
        if: ${{ github.event_name == 'pull_request' }}
        with:
          secrets: ${{ env.SECRETS_SYNC }}
          repositories: "^${{ github.repository }}$"
          repositories_list_regex: ${{ env.REPO_LIST_REGEX }}
          github_token: ${{ secrets.SYNC_PAT }}
          dry_run: true
      - name: Delete Secrets
        uses: google/secrets-sync-action@v1.7.0
        if: ${{ github.event_name == 'workflow_dispatch' }}
        with:
          secrets: ${{ env.SECRETS_DELETE }}
          repositories: ${{ github.event.inputs.repositories }}
          repositories_list_regex: ${{ env.REPO_LIST_REGEX }}
          github_token: ${{ secrets.SYNC_PAT }}
          dry_run: ${{ github.event.inputs.dry_run }}
          delete: true
      - name: Sync Secrets
        uses: google/secrets-sync-action@v1.7.0
        if: ${{ github.event_name == 'workflow_dispatch' }}
        with:
          secrets: ${{ env.SECRETS_SYNC }}
          repositories: ${{ github.event.inputs.repositories }}
          repositories_list_regex: ${{ env.REPO_LIST_REGEX }}
          github_token: ${{ secrets.SYNC_PAT }}
          dry_run: ${{ github.event.inputs.dry_run }}