name: Sync Files

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  SOURCE_REPO: pacroy/gh-common-workflows

jobs:
  sync:
    name: Sync Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Target
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_PAT }}
          path: 'target'
      - name: Checkout Source
        uses: actions/checkout@v3
        with:
          repository: ${{ env.SOURCE_REPO }}
          token: ${{ secrets.GH_PAT }}
          path: 'source'
      - name: Print files and directories
        shell: bash
        run: tree -aI "\.git" "$(pwd)"
      - name: Copy files
        shell: bash
        run: |
          path=".github"
          rsync --recursive "source/${path}/" "target/${path}"
      - name: Commit and push
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "[AUTO] Sync files"
          repository: target